<%- include ("partials/header") %>
  
  <!-- navbar -->
    <nav>
      <div class="logo">
        <h3><a href="admin-home.ejs" class="logo-name">E-Results</a></h3>
      </div>

     
    </nav>

    <form action='/admin-update' method='post'>

        
        <div class="form-group" style="padding-top: 85px;">
          <label for="exampleFormControlInput1">Identity no.</label>
          <input type="text" class="form-control" id="exampleFormControlInput1 " name="username" placeholder="VTU/VPA/VRU">
        </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Course code</label>
        <input type="text" class="form-control" id="exampleFormControlInput1 " name="subject1Id" placeholder="Course code">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Grade</label>
          <select class="form-control" id="exampleFormControlSelect1 " name="subject1mark">
            <option>S</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>E</option>
            <option>RA</option>
          </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Course code</label>
        <input type="text" class="form-control" id="exampleFormControlInput1 " name="subject2Id" placeholder="Course code">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Grade</label>
          <select class="form-control" id="exampleFormControlSelect1 " name="subject2mark">
            <option>S</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>E</option>
            <option>RA</option>
          </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Course code</label>
        <input type="text" class="form-control" id="exampleFormControlInput1 " name="subject3Id" placeholder="Course code">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Grade</label>
          <select class="form-control" id="exampleFormControlSelect1 " name="subject3mark">
            <option>S</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>E</option>
            <option>RA</option>
          </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Course code</label>
        <input type="text" class="form-control" id="exampleFormControlInput1 " name="subject4Id" placeholder="Course code">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Grade</label>
          <select class="form-control" id="exampleFormControlSelect1 " name="subject4mark">
            <option>S</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>E</option>
            <option>RA</option>
          </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Course code</label>
        <input type="text" class="form-control" id="exampleFormControlInput1 " name="subject5Id" placeholder="Course code">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Grade</label>
          <select class="form-control" id="exampleFormControlSelect1 " name="subject5mark">
            <option>S</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>E</option>
            <option>RA</option>
          </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Course code</label>
        <input type="text" class="form-control" id="exampleFormControlInput1 " name="subject6Id" placeholder="Course code">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect1">Grade</label>
          <select class="form-control" id="exampleFormControlSelect1 " name="subject6mark">
            <option>S</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>E</option>
            <option>RA</option>
          </select>
      </div>
      <div class="form-group m-0">
          <button type="submit" class="btn btn-primary btn-block">
              Update
          </button>
      </div>
    </form>